#user-city {
  margin: 0.1em;
}

#user-country {
  margin: 0.1em;
}


/* phone and tablet */
@media only screen and (max-width: 1023px) {



  header#user-profile {
    font-size: x-small;
    margin-top: 10vh;

    padding-top: 1.2em;
    padding-bottom: 1.7em;
    padding-left: 1em;
    padding-right: 2em;

    width: 100vw;
    height: 11vh;
    background-color:whitesmoke;
    color:#336d59;

    display: flex;
    text-align: right;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }

  header div#user-pic-name {

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header#user-profile img {

    width: 60px;
    height: 60px;

    border-radius: 5px;
    margin-right: 1em;
  }

  header div#user-location {
    padding-right: 1em;

    font-size:x-small;
    display: flex;
    flex-direction: column;

  }

}

/* for desktop and large desktop */
@media only screen and (min-width: 1024px) {

  header#user-profile {
    font-size: x-small;

    margin-top: 12vh;
    padding-top: 1.2em;
    padding-bottom: 1.7em;
    padding-left: 1em;
    padding-right: 2em;

    width: 100vw;
    height: 12vh;
    color:#336d59;
    background-color: whitesmoke;
    display: flex;
    text-align: right;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }

  header div#user-pic-name {
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header#user-profile img {

    width: 70px;
    height: 70px;

    border-radius: 5px;
    margin-right: 1em;
  }

  header div#user-location {
    padding-right: 1em;

    font-size:x-small;
    display: flex;
    flex-direction: column;

  }

}

header {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
