section.map-cards-here#non-carousel-map {
  /* margin-top: 2em; */
  width: 90vw;
  background-color: whitesmoke;
  padding: 1.5em;

  display: inline-flex;
  justify-content: left;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
}

header.for-browse-pages {
  margin-left: 2.5em;
  margin-top: 12vh;
  height:11vh;
  width: 100vw;
  color: #2F4B41;
  background-color: whitesmoke;
  font-size: x-large;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 2em;
}

