
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  background-color: whitesmoke ;
  color: #212529;
  text-align: left;

  width: 100vw;
  height: 100vh;

}

i.fa-thin {
  color:#81667A;
}

i.fa-thin {
  color: black
}

i.fa-thin:hover {
  color:white;
}

main {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B4D0C6;
  border-radius: 15px;
  box-shadow: inset 0 0 5px grey;
}

