/* phone and tablet */

nav {
  height: 10vh;
  width: 100vw;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #B4D0C6;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


nav.mobile-top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#drop-down {
  width: 75vw;
  margin-left: 1em;
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* nav.mobile-bottom-nav {


    position: fixed;
    bottom: 0px;
    left:0px;
    height: 10vh;
    font-size: x-small;

    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

  } */
/* i.fa-bars {
    visibility:collapse;
  } */




span.iconic {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


@media only screen and (max-width: 1200px) {
  nav {
    height: 10vh;
    width: 103vw;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #B4D0C6;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  nav.mobile-top-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button.btn-outline-light {
    margin-right: 0.5em;
  }

  i.fa-bars {
    visibility: visible;
    position: fixed;
    right: 2em;
    top: 2em;
  }

  #drop-down {
    display: none;
    width: 11em;
    padding-left: 2.5em;
    margin-left: 1em;
    border-radius: 15px;
    position: fixed;
    right: 2.5em;

    background-color: #B4D0C6;
    margin-top: 20vh;
    padding-right: 1em;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: right;
    align-items: flex-end;

  }

  span.hamburger {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.3em;
    margin-bottom: 0.3em;
  }


}

span.desktop-nav:hover {
  color: white;
  cursor: pointer;
  /* margin: 15px 0; */

}


/* for desktop and large desktop
@media only screen and (min-width: 1024px) {
  nav.mobile-top-nav {

    height: 12vh;
    width: 100vw;
    padding-left: 2em;
    padding-right: 2em;
    font-size: medium;
    background-color:#B4D0C6;
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
  }

  button.desktop-nav {
    display: flex;
    justify-self: end;
  }
} */
